<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="book" class="main.main.java.Book">
        <property name="bookName" value="我的未来不是梦"></property>
        <property name="author" value="莹莹"></property>
    </bean>
    <bean id="author" class="main.main.java.Author">
        <property name="age" value="20"></property>
        <property name="name" value="阔耐"></property>
    </bean>
</beans>
