<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<!--将指定类配置给spring，让spring创建其对象实例；-->
    <bean id = "userDao" class="com.ssm.Ioc.userDaoImpl">
<!--        <property name="age" value="1"></property>-->
<!--        <property name="name" value="小兰"></property>-->
<!--        <property name="direction" value="南方"></property>-->
    </bean>

    <bean id="mydog" class="com.ssm.Ioc.Dog">
        <property name="name" value="小黑"></property>
        <property name="age" value="15"></property>
        <property name="color" value="red"></property>
    </bean>
    <bean id="userService" class="com.ssm.Ioc.userServiceImpl">
<!--        <property name="dog" ref="mydog"></property>-->
<!--        <property name="ud" ref="userDao"></property>-->
    </bean>

    <context:annotation-config></context:annotation-config>
    <context:component-scan base-package="org.springframework.beans"></context:component-scan>

</beans>